html, body {
    font-size: 16px;
}
.main-navigation {
    width: 100%;
    list-style-type: none;
    background-color: rgba(51, 63, 102, 0);
    margin: 0;
    padding-top: 1.1em;
    padding-right: 1em;
    padding-bottom: 1.1em;
    position: fixed;
    float:left;
    z-index: 1;
}
.main-navigation-item {
    display: block;
    color: #f95c79;
    float:left;
    padding-right: 2em;
    -webkit-transition: .3s;
}
.main-navigation-item:hover {
    color:#53db87;
}
h1.jumbotron-title {
    color: white;
}
.jumbotron-subtitle {
    color: white;
}
.jumbotron {
    top:2em;
    background-image: url("../img/sherpa_temp2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*
    */
}
.open-quote {
    padding-top: 2em;
    padding-bottom: 3em;
}
.blockquote {
    padding-bottom: 1.5em;
}
